# Ignore bundler config and embed gems
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*~
.project